<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改用户')"></th:block>
    <th:block th:include="include :: select2-css"></th:block>
</head>
<body>
    <div class="main-content">
        <form class="form-horizontal" id="user-edit-form" th:object="${user}">
            <input type="hidden" id="userId" name="userId" th:field="*{userId}">
            <input type="hidden" id="deptId" name="deptId" th:field="*{deptId}">
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="userName" class="col-sm-4 control-label is-required">用户名称:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="userName" name="userName" placeholder="请输入用户名称" th:field="*{userName}" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="treeName" class="col-sm-4 control-label is-required">部门名称:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="treeName" name="deptName" th:field="*{dept.deptName}" required onclick="selectDeptTree()" >
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="phonenumber" class="col-sm-4 control-label is-required">手机号码:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="请输入手机号码" th:field="*{phonenumber}" required>
                                <span class="input-group-append"><i class="fa fa-mobile"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-control">
                        <label class="col-sm-4 control-label is-required">邮箱:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱" th:field="*{email}" required>
                            <span class="input-group-append"><i class="fa fa-envelope"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer"></th:block>
    <th:block th:include="include :: select2-js"></th:block>
    <script type="text/javascript">
        var prefix = ctx + "system/user";

        $("#user-edit-form").validate({
            rules: {
                email: {
                    email: true,
                    remote: {
                        url: prefix + "/checkEmailUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "userId": function () {
                                return $("#userId").val();
                            },
                            "email": function () {
                                return $.common.trim($("#email").val());
                            }
                        },
                        dataFilter: function (data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },
                phonenumber: {
                   isPhone: true,
                    remote: {
                        url: prefix + "/checkPhoneUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "userId": function () {
                                return $("userId").val();
                            },
                            "phonenumber": function () {
                                return $.common.trim($("#phonenumber").val());
                            }
                        },
                        dataFilter: function (data, type) {
                            return $.validate.unique(data);
                        }
                    }
                }
            },
            message: {
                "email": {
                    remote: "Email已经存在"
                },
                "phonenumber": {
                    remote: "手机号码已存在"
                }
            },
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                var data = $("#user-edit-form").serializeArray();
                var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
                var roleIds = $.form.selectCheckeds("role");
                var postIds = $.form.selectSelects("post");
                data.push({"name": "status", "value": status});
                data.push({"name": "roleIds", "value": roleIds});
                data.push({"name": "postIds", "value": postIds});
                $.operate.saveTab(prefix + "/edit", data);
            }
        }

        //用户管理-修改-选择部门树
        function selectDeptTree() {
            var deptId = $.common.isEmpty($("#treeId").val()) ? "100" : $("#treeId").val();
            var url = ctx + "system/dept/selectDeptTree" + deptId;
            var options = {
                title: "选择部门",
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero) {
           var tree = layero.find("iframe")[0].contentWindow.$._tree;
           var body = layer.getChildFrame('body', index);
           $("#treeId").val(body.find('#treeId').val());
           $("#treeName").val(nody.find('#treeName').val());
           layer.close(index);
        }

        $(function() {
           $("#post").select2({
              placeholder: "请选择岗位",
              allowClear: true
           });
        });
    </script>
</body>
</html>