<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('菜单树选择')"></th:block>
    <th:block th:include="include :: ztree-css"></th:block>
</head>
<body class="box box-main">
    <input id="treeId"   name="treeId"   type="hidden" th:value="${menu.menuId}">
    <input id="treeName" name="treeName" type="hidden" th:value="${menu.menuName}">
    <div class="treeExpandCollapse">
        <a href="#" onclick="$.tree.expand()">展开</a> /
        <a href="#" onclick="$.tree.collapse()">折叠</a>
    </div>
    <div id="tree" class="ztree treeselect"></div>
    <th:block th:include="include :: footer"></th:block>
    <th:block th:include="include :: ztree-js"></th:block>
    <script th:inline="javascript">
        $(function() {
            var url = ctx +"system/menu/menuTreeData";
            var options = {
                url: url,
                expandLevel: 1,
                onClick: zOnClick
            };
            $.tree.init(options);
        });

    </script>
</body>
</html>